<div class="modal-header" modal-draggable>
  <button type="button"
          class="close"
          ng-click="$dismiss()"
          aria-hidden="true"
          aria-label="Close">
    <span aria-hidden="true" class="fa fa-times"></span>
  </button>
  <h3 class="modal-title">{$ ::ctrl.modalTitle $}</h3>
</div>
<div class="modal-body">
  <form id="CreatePortForm" name="CreatePortForm">
    <form-field field="ctrl.address" form="CreatePortForm"></form-field>
    <form-field field="ctrl.pxeEnabled" form="CreatePortForm"></form-field>
    <form-field field="ctrl.portgroup_uuid" form="CreatePortForm"></form-field>
  </form>

  <form id="LocalLinkConnectionForm"
        name="LocalLinkConnectionForm"
        class="well well-sm">
    <h4 translate>Local link connection</h4>
    <div class="form-group"
         ng-repeat="(propertyName, propertyField) in
                    ctrl.localLinkConnection.fields">
      <form-field field="propertyField" form="LocalLinkConnectionForm"></form-field>
    </div>
  </form>

  <property-collection-editor collection="ctrl.extra"></property-collection-editor>
</div>
<!--modal footer-->
<div class="modal-footer ng-scope">
  <button class="btn btn-default" ng-click="ctrl.cancel()">
    <span class="fa fa-close"></span>
    <span class="ng-scope" translate>Cancel</span>
  </button>
  <button type="submit"
          ng-disabled="CreatePortForm.$invalid ||
                       LocalLinkConnectionForm.$invalid ||
                       !ctrl.extra.complete()"
          ng-click="ctrl.submit()"
          class="btn btn-primary">
    {$ ::ctrl.submitButtonTitle $}
  </button>
</div>
